<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932283109096-kji5qt9b891u2nojpf69jn0633439f7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932283109096-kji5qt9b891u2nojpf69jn0633439f7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCGGU1Pm-fPUnYDfgQNtMoOnprMfFhNhXE</string>
	<key>GCM_SENDER_ID</key>
	<string>932283109096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pink.renard.amt</string>
	<key>PROJECT_ID</key>
	<string>amt-v3</string>
	<key>STORAGE_BUCKET</key>
	<string>amt-v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932283109096:ios:5b64508c6399f71f62035d</string>
</dict>
</plist>